@using AleF.SemanticKernel.ChatBot.Model;

@*<span class="d-block p-2 bg-primary text-white">
    <div>
        <p class="text-start">@Item.Ask</p>
    </div>    
</span>
<span class="d-block p-2 bg-dark text-white">
      <div> 
        <p class="text-end">@Item.Answer</p>
        <p class="text-end"><small>@Item.Duration</small></p>
    </div>
</span>*@

<div class="card">
    <div class="card-header text-end">
        @Item.Ask
    </div>
    <div class="card-body">
        <h6 class="card-title"></h6>
        <p class="card-text">@Item.Answer</p>        
    </div>
</div>

@code {
    [Parameter]
    public required ChatInteraction Item { get; set; }
}